<!DOCTYPE html>
<html lang="en">
<head>
    <html lang="en" data-theme="light"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/styles/style.css">
</head>
    
<body>
    <header>
        <a href="/">
            <p>Mewtopia</p>
        </a>
        <nav>
            <a  href="http://localhost:3005/cats">Cats</a>
            <a  href="Search">Search</a>
            <img id="themeToggle" src="/public/images/moon.png" class="theme-icon"/>
        </nav>

    </header>

    <script>
        document.getElementById('themeToggle').addEventListener('click', function() {
            const currentTheme = document.documentElement.getAttribute('data-theme');
            const newTheme = currentTheme === 'light' ? 'dark' : 'light';
            document.documentElement.setAttribute('data-theme', newTheme);

            const themeToggle = document.getElementById('themeToggle');
            if (newTheme === 'light') {
                themeToggle.src = '/public/images/moon.png'; 
            } else {
                themeToggle.src = '/public/images/sun.png'; 
            }
            
        });
    </script>