
body {
    color: var(--text);
    background-color: var(--background);
}

:root[data-theme="light"] {
    --text: #333333;
    --background: #f9f5e6;
    --primary: #ab5959;
    --secondary: #d5a5a5;
    --accent: #c57d7d;
  }
  :root[data-theme="dark"] {
    --text: #cccccc;
    --background: #191506;
    --primary: #a65454;
    --secondary: #5a2a2a;
    --accent: #823a3a;
  }

  header {
    color: var(--text);
    position: sticky; 
    top: 0;
    left: 0;
    right: 0;
    display: flex; 
    justify-content: space-between;
    padding: 10px 0; 
    align-items: center; 
}

header a {
    color: var(--text); 
    text-decoration: none;
    padding: 0 10px; 
}


.theme-icon {
  width: 25px;  
  height: 25px;
  border-radius: 50%; 
  cursor: pointer;   
}


.footer {
  width: 100%;
  text-align: left;
  position: fixed;
  bottom: 0;
  padding: 1rem;
}


.cats{
  text-align: center;
  font-size: 20px;
}