body {
  color: var(--text);
  background-color: var(--background);
  margin: 0; 
  font-family: Arial, sans-serif; 
}

:root[data-theme="light"] {
  --text: #333333; 
  --background: #f9f5e6; 
  --primary: #ab5959; 
}

:root[data-theme="dark"] {
  --text: #cccccc;
  --background: #191506; 
  --primary: #a65454; 
}

