.allcatsdiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: var(--secondary);
    border-radius: 20px;
}

.cat-item {
    background-color:var(--background);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.cat-image {
    width: 300px;
    height: 300px;
    margin: 0 auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 1.2em;
    
}

.breed-button {
    background: none;
    border: none;
    color: var(--text); 
    font-size: 1em;
    text-decoration: none;
    margin-top: 10px;
    font-size: 25px;
}

.read-more {
    margin-top: 10px;
    padding: 5px 10px;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;

}

h2 {
    text-align: center;
    font-size: 2em;
    color: var(--text);
    margin-top: 20px;
}
.breed-image{
    width: 500px;
    justify-content: center;
    align-content: center;
    margin-left:70px;
}


.breed-page-container {
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start;
    gap: 20px; 
    padding: 20px;
}

.breed-image {
    max-width: 390px; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.cat-details {
    font-size: 17px;
    line-height: 2.0;
    max-width: 700px; 
    margin-left:20px ;
}

.cat-details strong {
    color: #ab5959;
}

.colordiv ul{
    display: flex; /* Use flexbox to lay items side by side */
    gap: 20px; /* Controls the space between color items */
    padding: 20px;
    cursor: pointer;
    color: var(--text);
    flex-wrap: wrap; /* Allows wrapping if there are too many items in a row */
}

.color-item {
    width: 50px;
    height: 50px;
    list-style-type: none; /* Removes bullet points from the list */
}
